*{
  margin: 0;
  padding: 0;
}

/*font-family: 'Castoro Titling', cursive;*/
/*font-family: 'Instrument Serif', serif;*/
/*font-family: 'Noto Serif', serif;*/
/*font-family: 'Oswald', sans-serif;*/


.fondo1{
  background-image: url(../img/fondo1.jpg);
  background-size: cover;
}

.fondo2{
  background-color: aliceblue;
}

.barra-mia{
  background-color: lightgray;
  color: black;
  font-family: 'Noto Serif', serif;
  font-weight: bold;
}

.titulo{
  font-family: 'Instrument Serif', serif;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
}

.parrafoinicio{
  color: black;
  margin: 30px;
  padding: 15px;
  text-align: justify;
  background-color:rgba(245, 245, 245, 0.486);
}

.nosotros{
  color: black;
  text-align: center;
  margin: 30px 100px;

}

.img{
  display: flex;
  height: 400px;
  width: 500px;
  margin-top: 30px;
  margin-left: 425px;
}

@media (max-width: 576px){
  .img{
      margin-left: 30px;
  }
}

section article div p {
  border: black solid 1px;
  padding: 10px;
  text-align: justify;
}

section iframe{
  height: 500px;
  width: 500px;
}

.mi-form{
  margin-right: 30px;
  margin-left: 30px;
}

.contacto{
  margin: 20px 30px;
  text-align: justify;
}

footer img{
  height: 50px;
  width: 50px; 
}

.img-logo{
  padding: 20px;
}

.video-actividades{
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

body{
  padding:0;

}
.contenedor {
  padding: 0;
  width: 100%;
}

.contenedor .carrusel {
  padding: 0;
  display: flex;
  overflow: hidden;
}

.imagenes-inicio {
  height: 400px;
  width: 33.33%;
  max-width: 50%;
  transition: all 1s ease;
  background-size: cover;
  background-position: center center;
}


.imagenes-inicio:hover {
  transform: scale(1.2);
}

.imagenes-inicio:hover .fade {
  background-color: rgba(0, 0, 0, 0.4);
  width: auto;
  height: 100%;
  transition: background-color 0.5s ease;
  padding: 1em;
  display: flex;
}

.imagenes-inicio:hover .fade .border-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
  transition: font-size 1s ease;
}

.imagenes-inicio .fade .border-text {
  border: 1px solid white;
  width: 100%;
  height: 90%;
  margin: 2px;
  display: none;
  font-family: sans-serif;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  text-decoration: none;
}

.imagenes-inicio img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imagenes-inicio {
  width: 100%;
}


footer p{
  color: black;
  padding: 20px;
}

footer ul{
  color: black;
  padding: 20px;
}

footer a{
  color: black;
}

.background-footer{
  background-color:rgba(245, 245, 245, 0.486);
  margin: 30px;
}

footer iframe{
  padding: 20px;
}

.background-footer2{
  background-color: rgba(240, 181, 240, 0.555);
  margin: 30px;
}

@media (max-width: 576px){
  .nosotros{
      margin: 25px;
  }
}
