.contacto{
    margin: 20px 30px;
    text-align: justify;
}

.mi-form{
    margin-right: 30px;
    margin-left: 30px;
}

footer img{
    height: 50px;
    width: 50px; 
}

.img-logo{
    padding: 20px;
}