*{
    margin: 0;
    padding: 0;
}


/*font-family: 'Castoro Titling', cursive;*/
/*font-family: 'Instrument Serif', serif;*/
/*font-family: 'Noto Serif', serif;*/
/*font-family: 'Oswald', sans-serif;*/

.fondo2{
    background-color: aliceblue;
}

.barra-mia{
    background-color: lightgray;
    color: black;
    font-family: 'Noto Serif', serif;
    font-weight: bold;
}


